div#root {
  /* border-color: red; */
  /* box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1); */
  /* background-color: #FA7268 */
  
}

div#root .hero .title{
  padding-top: 1.5rem;
}

div#root .input {
  transition-duration: 0.5s;
}

div#root ul.input-field {
  margin: 0.5rem;
}

div#root div.box {
  height: 80vh;
}

div#root div.column:first-child div ul.input-field input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
